*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#header {
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: row;
}
#header > #banner {
  width: 100%;
  padding-left: 2%;
  background-image: url("img/students.jpg"); 
  /* Photo by NESA by Makers on Unsplash. Photo is free to use for commercial and non-commercial purposes without permission */
  background-repeat: no-repeat;
  background-color: #AD64CC;
  background-size: cover;
}
#header > #banner > h1 {
  font-size: 32pt;
  color: red;
  text-shadow: 2px 2px black;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}
#header > #banner > h2 {
  font-size: 24pt;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

#navbar {
  width: 100%;
  font-size: 16pt;
  font-weight: bold;
  position: -webkit-sticky; /* For Safari users */
  position: sticky;
  top: 0;
  z-index: 1;
}
#navbar > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
#navbar > ul > a > .navbar_button > li {
  text-align: center;
}
#navbar > ul > a:link {
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  background-color: #333333;
  color: whitesmoke;
}
#navbar > ul > a:visited {
  color: whitesmoke;
}
#navbar > ul > a:hover {
  color: red;
}
#navbar > ul > a:active {
  background-color: #444444;
}

#studies_admissions-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
#studies_admissions-wrapper > #studies {
  width: 50%;
  padding: 15px;
  background-color: #AD64CC;
  color: whitesmoke;
}

/* dropdown content from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover*/
/* Dropdown Button */
#studies_admissions-wrapper > #studies > .dropdown > .dropbtn {
  background-color: whitesmoke;
  color: black;
  padding: 16px;
  margin: 2px 0;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
#studies_admissions-wrapper > #studies > .dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
#studies_admissions-wrapper > #studies > .dropdown > .dropdown-content {
  display: none;
  position: absolute;
  background-color: #AD64CC;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%; /*the width of the dropdown content to be as wide as the dropdown button*/
  overflow:auto; /*to enable scroll on small screens*/
}
/* Links inside the dropdown */
#studies_admissions-wrapper > #studies > .dropdown > .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
#studies_admissions-wrapper > #studies > .dropdown > .dropdown-content a:hover {
  background-color: #5CCCBC;
}

/* Change color of dropdown links on hover */
#studies_admissions-wrapper > #studies > .dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#studies_admissions-wrapper > #studies > .dropdown:hover .dropbtn {
  background-color: #5CCCBC;
}

#studies_admissions-wrapper > #admissions {
  width: 50%;
  padding: 15px;
  background-color: #AD64CC;
  color: whitesmoke;
}

#studies_admissions-wrapper p{
  font-size: 17.5px;
}

#studies_admissions-wrapper > #admissions > h2 > a:link {
  color: whitesmoke;
}
#studies_admissions-wrapper > #admissions > h2 > a:visited {
  color: whitesmoke;
}
#studies_admissions-wrapper > #admissions > h2 > a:hover {
  color: #5CCCBC;
}
#studies_admissions-wrapper > #admissions > h2 > a:active {
  color: #5CCCBC;
}

#academics_careers-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.academics_careers-wrapper {
  font-size: 17.5px;
}

#academics_careers-wrapper > #academics {
  padding: 15px;
  width: 50%;
  text-align: center;
  background-color: whitesmoke;
}
#academics_careers-wrapper > #academics a:link {
  color: black;
}
#academics_careers-wrapper > #academics a:visited {
  color: black;
}
#academics_careers-wrapper > #academics a:hover {
  color: #AD64CC;
}
#academics_careers-wrapper > #academics a:active {
  color: #CC156A;
}
#academics_careers-wrapper > #careers {
  padding: 15px;
  width: 50%;
  text-align: center;
  background-color: whitesmoke;
}
#academics_careers-wrapper > #careers a:link {
  color: black;
}
#academics_careers-wrapper > #careers a:visited {
  color: black;
}
#academics_careers-wrapper > #careers a:hover {
  color: #AD64CC;
}
#academics_careers-wrapper > #careers a:active {
  color: #CC156A;
}

#events_updates-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#events_updates-wrapper > #events {
  width: 50%;
  padding: 15px;
  background-color: #5CCCBC;
}
#events_updates-wrapper > #events > h2,
#events_updates-wrapper > #events > h3 {
  text-align: center;
}
#events_updates-wrapper > #events > table {
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
}
/* I don't know why, but when I use tr, th, and td, I am unable to use ">" to show HTML path. */
/* This also applies to other lines in this CSS file, not just tr, th, and td. */
#events_updates-wrapper > #events > table tr th {
  padding: 10px 0;
  text-align: start;
  font-size: 15pt;
  border-bottom: 4px solid #CC156A;
}
#events_updates-wrapper > #events > table tr td {
  padding: 10px 0;
}
#events_updates-wrapper > #events > table tr td a:link {
  color: black;
}
#events_updates-wrapper > #events > table tr td a:visited {
  color: black;
}
#events_updates-wrapper > #events > table tr td a:hover {
  color: #CC156A;
  font-weight: bold;
}
#events_updates-wrapper > #events > table tr td a:active {
  color: red;
}
#events_updates-wrapper > #updates {
  width: 50%;
  padding: 15px;
  background-color: #5CCCBC;
  text-align: center;
}

#events_updates-wrapper > #updates p {
  text-align: justify;
  text-justify: inter-word;
}

#events_updates-wrapper > #updates > h2, h3 {
  text-align: center;
  
}
#events_updates-wrapper > #updates > ul {
  text-align: center;
  list-style-type: none;
}
#events_updates-wrapper > #updates > ul > li {
  margin: 15px 5px 5px 20px;
}
#events_updates-wrapper > #updates > ul > li > a:link {
  color: black;
}
#events_updates-wrapper > #updates > ul > li > a:visited {
  color: black;
}
#events_updates-wrapper > #updates > ul > li > a:hover {
  color: #CC156A;
  font-weight: bold;
}
#events_updates-wrapper > #updates > ul > li > a:active {
  color: red;
}

#about_contact_footer-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: #333333;
  color: whitesmoke;
}
#about_contact_footer-wrapper h2 {
  color: red;
}
#about_contact_footer-wrapper > #about {
  width: 50%;
  padding: 20px 60px;
  text-align: justify;
  text-justify: inter-word;
}
#about_contact_footer-wrapper > #about > p > a:link {
  color: whitesmoke;
}
#about_contact_footer-wrapper > #about > p > a:visited {
  color: whitesmoke;
}
#about_contact_footer-wrapper > #about > p > a:hover {
  color: red;
}
#about_contact_footer-wrapper > #about > p > a:active {
  color: darkred;
}
#about_contact_footer-wrapper > #contact {
  width: 50%;
  padding: 20px 60px;
  text-align: justify;
}
#about_contact_footer-wrapper > #contact a:link {
  color: whitesmoke;
}
#about_contact_footer-wrapper > #contact a:visited {
  color: whitesmoke;
}
#about_contact_footer-wrapper > #contact a:hover {
  color: red;
}
#about_contact_footer-wrapper > #contact a:active {
  color: darkred;
}
#about_contact_footer-wrapper > #footer {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
}
